[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
*.exe
*.dll
/bin
/obj
Lib-Comunicacion/Comunicacion/Comunicacion.suo
Lib-Comunicacion/Comunicacion/Comunicacion/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lib-Comunicacion/Comunicacion/Pruebas/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lib-Comunicacion/Comunicacion/Pruebas/obj/x86/Debug/Pruebas.csproj.FileListAbsolute.txt
